[Unit]
Description=Auto help aiogram bot
After=network.target

[Service]
ExecStart=/root/auto_helper/venv/bin/python3 /root/auto_help/src/aiogram_bot/main.py
Type=simple

[Install]
WantedBy=multi-user.target
